@import './bs/bootstrap';
@import 'reboot';
@import 'animation';
@import 'scrollbar';

#root {
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.app-drag {
  -webkit-app-region: drag;
}

.app-no-drag {
  -webkit-app-region: no-drag;
}
